<%- include("partials/header"); %>

<div class="container-fluid ">

  <div class="main-title-container">
    <h1 class="main-title">About</h1>
  </div>

  <p> <%= abtContent %> </p>
</div>

<%- include("partials/footer"); %>