<%- include("partials/header"); %>

<div class="container-fluid">

  <div class="main-title-container">
    <h1 class="main-title">Contact</h1>
  </div>

  <p> <%= contContent %> </p>
</div>

<%- include("partials/footer"); %>